
// ------------------------------------------------------------------------
// Structure
// ------------------------------------------------------------------------

.blocks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: rem(35px);
  padding: 0 rem(15px);
}

.block__wrapper {
  padding: rem(15px) 0;
  flex: 1 1 50%;

  @include bp-min-lg {
    flex: 1 1 25%;
  }
}

.block {
  margin: 0 auto;
  position: relative;
  height: $box--height;
  width: $box--height;
  border-radius: $box--border-radius;
}

.block__header {
  margin: .5rem 0;
}

.block__text {
  margin: 0 auto;
  padding: 0 rem(7.5px);
  max-width: rem(215px);
}


// ------------------------------------------------------------------------
// Font & Color
// ------------------------------------------------------------------------

.block {
  background: $color--yellow;
}

.block__icon {
  color: $color--black;
  font-size: rem(30px) !important;
  @include absolute-center;
}

.block__header {
  font-size: rem(18px);
  font-weight: bold;

  @include bp-min-md {
    font-size: rem(24px);
  }
}

.block__text {
  color: rgba($color--black, .65);
  font-size: rem(14px);
}


// ------------------------------------------------------------------------
// Effects
// ------------------------------------------------------------------------

.block {
  @include raised-shadow;
}
