
// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

$button--font-size  : rem(12px);
$button--padding-x  : 2rem;


// ------------------------------------------------------------------------
// Structure
// ------------------------------------------------------------------------

.button {
  display: inline-block;
  border: rem(2px) solid transparent;
  border-radius: rem(50px);
  margin: 1rem auto;
  padding: .6rem $button--padding-x;
  cursor: pointer;
  white-space: nowrap;

  @include bp-min-md {
   padding: .75rem $button--padding-x;
  }
}


// ------------------------------------------------------------------------
// Font & Color
// ------------------------------------------------------------------------

.button {
  font-size: $button--font-size;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  @include bp-min-md {
    font-size: $button--font-size * 1.25
  }
}

.button--black {
  color: $color--black;
  border-color: $color--black;
}

.button--yellow {
  color: $color--white;
  border-color: $color--yellow;
}


// ------------------------------------------------------------------------
// Effects
// ------------------------------------------------------------------------

.button {
  @include transition("all", .2s, "ease-in-out");

  &:hover {
    padding-left: $button--padding-x * 1.25;
    padding-right: $button--padding-x * 1.25;
  }
}

.button--black {
  &:hover {
    background: $color--black;
    color: $color--yellow;
  }
}

.button--yellow {
  &:hover {
    background: $color--yellow;
    color: $color--black;
  }
}
