
// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

$card--border        : rem(1px) solid rgba($color--black, .25);
$card--border-radius : rem(5px);

$card--margin-bottom : rem(25px);
$card--margin-x      : rem(12.5px);

// ------------------------------------------------------------------------
// Structure
// ------------------------------------------------------------------------

.cards {
  display: flex;
  flex-direction: column; 
  margin-top: rem(35px);
  padding: 0 rem(15px);

  @include bp-min-md {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border: $card--border;
  border-radius: $card--border-radius;
  margin-bottom: $card--margin-bottom;
  text-align: left;

  @include bp-min-md {
    margin-left: $card--margin-x;
    margin-right: $card--margin-x;
    flex: 1 1 calc(50% - #{$card--margin-x * 2});
  }

  @include bp-min-lg {
    flex: 1 1 calc(33% - #{$card--margin-x * 2});
  }
}

.card__img {
  width: 100%;
  border-top-left-radius: $card--border-radius;
  border-top-right-radius: $card--border-radius;
}

.card__footer {
  position: relative;
  padding: .5rem 1rem;
  cursor: pointer;
}

.card__icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  @include transform(translateY(-50%));
}


// ------------------------------------------------------------------------
// Font & Color
// ------------------------------------------------------------------------

#projects {
  background: $color--grey;
}

.card {
  background: white;
  text-decoration: none;
}

.card__title {
  color: $color--black;
  font-size: rem(18px);
  font-weight: bold;
}

.card__subtitle {
  color: rgba($color--black, .65);
  font-size: rem(14px);
}

.card__icon {
  color: rgba($color--black, .65);
  font-size: rem(20px) !important;
}


// ------------------------------------------------------------------------
// Effects
// ------------------------------------------------------------------------

.card {
  @include transition("box-shadow", 0.3s, "ease-out", 0.1s);
  @include raised-shadow;

  &:hover {
    @include lifted-shadow;
  }
}
