
// ------------------------------------------------------------------------
// Structure
// ------------------------------------------------------------------------

.section__container {
  margin: 0 auto;
  padding: rem(25px) 0 rem(50px);
  width: 100%;
  max-width: rem(1200px);
  text-align: center;
}

.section__header {
  margin: 0 0 .67em 0;
}

.section__text {
  padding: 0 rem(25px);
  margin: 0 auto;
  width: 100%;
  max-width: rem(660px);

  @include bp-min-md {
    padding: 0;
    width: 80%;
  }
}


// ------------------------------------------------------------------------
// Font & Color
// ------------------------------------------------------------------------

.section__header {
  font-size: rem(24px);

  @include bp-min-md {
    font-size: rem(32px);
  }
}

.section__text {
  @include bp-min-md {
    font-size: 1.25rem;
  }
}

