
@mixin animation ($animation, $duration: 2s, $easing: "linear", $iteration: infinite, $delay: 0) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $easing;
  -webkit-animation-iteration-count: $iteration;
  -webkit-animation-delay: $delay;
  -webkit-animation-fill-mode: forwards;

  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $easing;
  animation-iteration-count: $iteration;
  animation-delay: $delay;
  animation-fill-mode: forwards;
}
