
// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

$color--white  : #FAFAFA;
$color--black  : #252A30;
$color--grey   : #EEE;
$color--accent : #FED766;

html {
  background: $color--white;
  color: $color--black;
}
