
@mixin transition($property: "all", $time: 0.2s, $easing: "ease-in", $delay: 0) {
  -webkit-transition-property: #{$property};
          transition-property: #{$property};
  -webkit-transition-duration: #{$time};
          transition-duration: #{$time};
  -webkit-transition-timing-function: #{$easing};
          transition-timing-function: #{$easing};      
  -webkit-transition-delay: #{$delay};
          transition-delay: #{$delay};
}
